autopep8==2.1.0
certifi==2024.2.2
chardet==5.2.0
defusedxml==0.7.1
Django==4.2.9
django-allauth==0.61.1
django-countries==7.5
django-crispy-forms==2.1
django-debug-toolbar==4.3.0
idna==3.7
oauthlib==3.2.2
pep8==1.7.1
Pillow==10.3.0
pycodestyle==2.11.1
python-decouple==3.8
python3-openid==3.2.0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
sqlparse==0.4.4
stripe==8.9.0
urllib3==2.2.1
